*{
  margin:0;
}

.product{
  width:200px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  float: left;
  border: 1px solid black;  
}

.product1{
    width:200px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    float: left;
    border: 1px solid black;  

}

img
{
  width: 100%;
}


.original-price 
{
  text-decoration: line-through; 
  color: red; 
}

.discounted-price
{
  font-weight: bold;
  color: green; 
}

.cart
{
background-color: blue;
color: white;
width: 120px;
border: none;
}

.cart i
{
  color: white;
}

i
{
  color: blue;
  width: 20px;
  border: 1px blue solid;
}

.clearfix
{
  clear: both;
} 

